@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfeef5;
}
.profile-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: max-content;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time-block, .email-block, .location-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.email-block {
  margin-top: -5px;
}

.user-identity {
  display: flex;
  flex-direction: column;
  gap: 5px;

  > p {
    color: #716f6f;
  }
}

.bio {
  color: #716f6f;
}